{
    "env": {
        "node": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "semi": [2, "always"],
        "quotes": [2, "single"],
        "no-console": [0]
    },
    "extends": "eslint:recommended"
}
